#* @vtlvariable name="users" type="java.util.List" *#
#* @vtlvariable name="user" type="com.yan.model.User" *#

<html>
<head></head>
<body>
    #if($users.size()>0)
    <table border="1" align="center">
        <tr>
            <th>User Name</th>
            <th>Password</th>
        </tr>
    #foreach($user in $users)
        <tr>
            <td>$user.getUserName()</td>
            <td>$user.getPassword()</td>
        </tr>
    #end
    </table>
        #else
        <h1 align="center">No registered users</h1>
    #end
</body>
</html>