table, th, td {
    border-collapse: collapse;
    font: 13px  tahom;
}

th {
font-weight: bold;
}

#1 {
font-weight: bold;
}
#2 {
font-weight: bold;
}
#3 {
font-weight: bold;
}

.border {
    border: 10px solid #d0d0ff;
    padding: 10px;
    width:45%
}

tr#tr6 {
     border-bottom: 2px solid black;
}

.center {text-align: center}